<div class="root-home">
    <h1 class="mt-3">Dashboard</h1>
    <div class="row d-flex justify-content-around">
        <div class="col-3 box-group">
            <span class="fs-6">Sum client</span>
            <div class="d-flex justify-content-center">
                <i class="fs-1 text-primary bi bi-person-fill"></i>
                <span class="fs-1">0</span>
            </div>
        </div>
        <div class="col-3 box-group">
            <span class="fs-6">Apartment upload by client</span>
            <div class="d-flex justify-content-center">
                <i class="fs-1 text-primary bi bi-house-heart-fill"></i>
                <span class="fs-1">0</span>
            </div>
        </div>
        <div class="col-3 box-group">
            <span class="fs-6">Apartment upload by admin</span>
            <div class="d-flex justify-content-center">
                <i class="fs-1 bi bi-house-fill text-primary"></i>
                <span class="fs-1">0</span>
            </div>
        </div>
    </div>
</div>